@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import "_partials.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $darkred;
}

::-webkit-scrollbar-thumb:hover {
  background: $black;
}




body {
  background-color: black;
}

.home-body {
  position: relative;
}

.home-navigation {
  margin:0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  animation: menuAppear 2s;


  nav {
    display: flex;
    justify-content: space-between;
    background-color: $black;
    padding: 30px;


    .logo-span {

      a {
        text-decoration: none;
         .logo {
           width: 30px;
           height: auto;
         }

      }
    }

    .social-span {
      align-self: center;


      ul {

        li {
          list-style-type: none;
          display: inline;
          padding: 0 10px;


          a {
            text-decoration: none;

            img {
              width:25px;
              height: auto;
            }
          }
        }
      }
    }

    .menu-span {
      align-self: center;


            .burger {
              text-decoration: none;
              color: $beige;
              font-family: "Poiret One", cursive;
              font-size: 25px;
              font-weight: normal;
              align-self: center;
              transition: all 0.3s;
              padding: 0 10px;
              cursor: pointer;
              z-index: 999;
              display: none;



              &::after {
                display: block;
                content:"";
                border-bottom: 1px solid $beige;
                transform: scaleX(0);

                transition: transform 250ms ease-in-out;
                transform-origin:  50% 0%;
                padding-top: 5px;


              }
              &:hover {
                border-color: $beige;

                &::after {
                  transform: scaleX(1);
                }
              }


            }



      .menu-normal {
        display: flex;
        justify-content: space-around;
        transition: 0.1s;


          a {
            text-decoration: none;
            color: $beige;
            font-family: "Poiret One", cursive;
            font-size: 20px;
            padding: 0 30px;
            transition: all 0.3s;

            &::after {
              display: block;
              content:"";
              border-bottom: 1px solid $beige;
              transform: scaleX(0);

              transition: transform 250ms ease-in-out;
              transform-origin:  50% 0%;
              padding: 5px;


            }

            &:hover {
              border-color: $beige;
            }

          }


        .li1:hover::after {
          transform: scaleX(1);
        }


        .li2:hover::after {
          transform: scaleX(1);
        }

        .li3:hover::after {
          transform: scaleX(1);
        }

        .li1active::after {
          transform: scaleX(1);
        }

        .li1active:hover::after {
          transform: scaleX(0);
        }

        .li2active::after {
          transform: scaleX(1);
        }

        .li2active:hover::after {
          transform: scaleX(0);
        }

        .li3active::after {
          transform: scaleX(1);
        }

        .li3active:hover::after {
          transform: scaleX(0);
        }


      }
    }

/*    .lang-span {
      ul {
        li {
          list-style-type: none;

          a {
            text-decoration: none;
            background-color: $black;
            color: $beige;
          }
        }
      }
    } */
  }
}

.home-content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;










  .portfolio-container {
    position: fixed;
    display: block;
    bottom: 0;
    animation: slide1Appear 1s;




    .portfolio-item {
      width: 300px;
      height: 300px;
      border: 1px solid $black;
      display: inline-block;
      text-decoration: none;

    }


    .slide1 {
      display: inline-block;
      white-space: nowrap;
      animation: slide1Move 20s linear infinite;
    }


    .slide2 {
      display: inline-block;
      white-space: nowrap;
      animation: slide1Move 20s linear infinite;
    }

  }





  .home-intro {
    position: fixed;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.9);
    padding: 70px 120px 60px 110px;
    margin-bottom: 0;
    animation: introductionAppear 1.5s;



    .home-text-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;

      .logo-letter-container {
        width: 270px;
        height: auto;
        margin-bottom: 20px;
        margin-left: -20px;
        align-self: center;
        position: relative;

        .logo-letter {
          width: 55px;
          height: auto;
          display: inline-block;
          position: absolute;
        }

        .logo-letter-o {
          top: 50%;
          left: 0%;
          transform: translateY(-50%);
          animation: introOOAppear ease-in-out 1.9s;
        }

        .logo-letter-l {
          top: 50%;
          left: 25%;
          transform: translateY(-50%);
          animation: introLLAppear ease-in-out 1.9s;
        }

        .logo-letter-g {
          top: 50%;
          left: 50%;
          transform: translateY(-50%);
          animation: introGGAppear ease-in-out 1.9s;
        }

        .logo-letter-a {
          top: 50%;
          left: 75%;
          transform: translateY(-50%);
          animation: introAAAppear ease-in-out 1.9s;
        }

      }

      .description {
        text-align: left;
        color: $beige;
        font-size: 30px;
        font-family: "Poiret One", cursive;
        margin-bottom: 20px;
        margin-left:33px;
        border-left: 2px solid $beige;
        padding: 10px 30px;
        width: 270px;
        height: 170px;
        white-space: nowrap;
        line-height: 50px;
        animation: introPhrasesAppear 2.3s;

        .p1 {
          animation: pAppear 2.3s;
        }

        .p2 {
          animation: pAppear 2.5s;
        }

        .p3 {
          animation: pAppear 2.7s;
        }
      }
    }

    button {
      border: none;
      background: none;
      margin: 20px;

      a {
        text-decoration: none;
        text-align: center;
        font-size: 30px;
        font-family: "Megrim", cursive;
        font-weight: bold;
      }

    }

    .skills-button {

      a {
        color: $darkred;
        background-color: $beige;
        padding: 30px;
        border: 3px solid transparent;
        transition: all 0.3s;

        &:hover {
          background-color: transparent;
          border-color: $beige;
          color: $beige;
        }
      }
    }

    .portfolio-button {

      a {
        color: $beige;
        background-color: $darkred;
        padding: 30px;
        border: 3px solid transparent;
        transition: all 0.3s;


        &:hover {
          background-color: $beige;
          border-color: $darkred;
          color: $darkred;
        }

      }
    }
  }
}
