@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import "_partials.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $beige;
  font-family: "Poiret One", cursive;
}

.home-navigation {
  animation: menuAppear 0.5s;
}


.portfolio-item-section {
  margin: 170px auto 50px auto;


  h2 {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    animation: pItemTitleAppear 0.5s;
  }

  .olga-h2 {
    letter-spacing: 0.07em;
  }

  .portfolio-item-div {
    margin: 100px 0px;

    .portfolio-item-intro {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;
      margin: 0 50px 35px 50px;


      div {
        margin-top: 0;

        h3 {
          font-weight: bold;
          font-size: 50px;
          margin-bottom: 15px;
        }

        p {
          font-size: 30px;
        }

      }
      .cose-div, .strumenti-div {
        padding: 30px 50px;
        border-left: 3px solid $darkred;

      }

      .cose-div {
        animation: itemDivAppear 0.5s;
      }

      .strumenti-div {
        animation: itemDivAppear 1s;
      }

      .portfolio-item-button {
        animation: itemDivAppear 1.5s;

        button {
          border: none;
          border-radius: 0%;
          margin: 30px;



          a {
            text-decoration: none;
            color: $beige;
            background-color: $darkred;
            background-position: left;
            font-family: "Poiret One", cursive;
            font-weight: bold;
            font-size: 30px;
            padding: 50px;
            border: 5px solid transparent;
            white-space: nowrap;
            transition: all 0.3s;

            &:hover {
              background-image: url('../../assets/img/portfolio/gotoweb-darkred.svg');
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              background-size: 140px;
              background-color: $beige;
              padding: 50px;
              color: transparent;
              border: 5px solid $darkred;
              transition: all 0.3s;
            }

          }
        }

      }
    }


    .arrow-move {
      background-image: url('../../assets/img/portfolio/arrow.svg');
      background-size: 30px;
      background-position: center;
      width: 30px;
      height: 30px;
      margin: 0 auto;

    }

    .arrow-move-1 {
      animation: arrowMove 1s infinite;
    }

    .arrow-move-2 {
      margin-top: -15px;
      animation: arrowMove 1s infinite;
      animation-delay: 0.1s;
    }

    .arrow-move-3 {
      margin-top: -15px;
      animation: arrowMove 1s infinite;
      animation-delay: 0.2s;

    }


    .portfolio-item-description {
      p {
        font-size: 30px;
        margin: 70px 50px;
      }
    }

    .portfolio-item-screen {
      border-top: 3px solid $darkred;
      border-bottom: 3px solid $darkred;
      padding: 10px;

      img {
        width: 100%;
        height: auto;
        border: 1.5px solid $darkred;
        padding: 0;

      }
    }
  }
}



@media screen and (max-width: 940px) {
  .portfolio-item-section {

    .portfolio-item-div {
      margin: 100px 0px;

      .portfolio-item-intro {
        flex-wrap: nowrap;


        div {
          margin-top: 0;

          h3 {
            font-size: 37px !important;
          }

          p {
            font-size: 25px !important;
          }
        }


        .portfolio-item-button {
          button {

            a {
              font-size: 25px;
              padding: 40px;

              &:hover {
                background-size: 120px;
              }
            }
          }
        }
      }

      .portfolio-item-description {
        font-size: 25px;
        margin: 70px auto !important;
      }
    }
  }
}





@media screen and (max-width: 850px) {
  .portfolio-item-section {

    .portfolio-item-div {
      margin: 50px 0px !important;

      .portfolio-item-intro {
        flex-wrap: wrap !important;
        align-items: center;

        .cose-div, .strumenti-div {
          border-left: none !important;
          width: 50%;

          &::before {
            content:'';
            display: inline-block;
            border-left: 3px solid $darkred;
            border-top: 3px solid $darkred;
            padding: 17px;
            margin-left: -30px;

            transform: scaleX(1);
            transform-origin:  -50% 50%;
          }

          &::after {
            display: none !important;
          }
        }

        .portfolio-item-button {
          display: flex;
          justify-content: center;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 50px;
          text-align: center;
          width: 100%;

          button {
            margin: 70px auto !important;

            a {
              padding: 40px !important;

              &:hover {
                background-size: 120px !important;
              }
            }
          }
        }
      }
    }
  }
}






@media screen and (max-width: 650px) {
  .portfolio-item-section {

    h2 {
      font-size: 40px !important;
    }


    .portfolio-item-div {

      .portfolio-item-intro {
        justify-content: center !important;
        align-items: center !important;


        div {
          h3 {
            font-size: 37px !important;
          }

          p {
            font-size: 20px !important;
          }
        }

        .cose-div, .strumenti-div {
          width: 49% !important;

          &::before {
            border-left: 3px solid $darkred;
            border-top: 3px solid $darkred;
            padding: 17px;
            margin-left: -30px;

            transform: scaleX(1);
            transform-origin:  -50% 50%;
          }
        }
      }


      .portfolio-item-description {
        p {
          font-size: 20px !important;
          margin: 50px 10px !important;
        }
      }
    }
  }
}




@media screen and (max-width: 500px) {
  .portfolio-item-section {

    h2 {
      font-size: 40px !important;
      margin-bottom: 20px !important;
    }

    .portfolio-item-div {
      margin: 30px auto 15px auto !important;


      .portfolio-item-intro {
        display: flex !important;
        justify-content: center !important;

        div {
          padding-top: 20px !important;
          padding-bottom: 20px !important;

          h3 {
            font-size: 35px !important;
          }

          p {
            font-size: 20px !important;
            text-align: center;
          }
        }

        .cose-div, .strumenti-div {
          padding: 0;
          width: 100% !important;
        }


        .portfolio-item-button {

          button {
            a {
              padding: 30px;

              &:hover {
                background-size: 80px;
              }
            }
          }
        }
      }

      .portfolio-item-description {
        width: 100%;
        margin: 0 auto !important;

        p {
          width: 90%;
          font-size: 20px !important;
        }
      }


      .portfolio-item-screen {
        padding: 10px 0 !important;
      }
    }
  }
}
